//Dark Mode Elements
$dark-element:hsl(209, 23%, 22%);
//Dark Mode Text
$dark-text: hsl(0, 0%, 100%);
//Dark Mode Background
$dark-bg:  hsl(207, 26%, 17%);

//Light Mode Elements
$light-element:hsl(0, 0%, 100%);

//Light Mode Text
$light-text: hsl(200, 15%, 8%);

//Light Mode Input
$light-input: hsl(0, 0%, 52%);

//Light Mode Background
$light-bg:  hsl(0, 0%, 98%);




