.country-app {
    &-wrapper {
      width: 100%;
      padding: 1.8rem 0;
    }
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

  
      & h1 {
        font-size: 2.5rem;
        font-weight: 800;
      }
      & a {
        font-size: 1.4rem;
        font-weight: 600;
        & span {
          display: flex;
          align-items: center;
          & .mode-icon {
            padding-right: 0.6rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .country-app {
      &-header {
        & h1 {
          font-size: 2rem;
        }
        & a {
          font-size: 1.2rem;
        }
      }
    }
  }
  @media screen and (max-width: 415px) {
    .country-app {
      &-header {
        & h1 {
          font-size: 1.5rem;
        }
        & a {
          font-size: 1rem;
        }
      }
    }
  }